[run]
source = src
omit =
  **/test/**
  **/etcd_tests/**
  **/main.py
  **/plugin_utils.py
  src/metaswitch/clearwater/queue_manager/pdlogs.py
  src/metaswitch/clearwater/queue_manager/null_plugin.py
  src/clearwater_etcd_plugins/sprout/**
parallel = False

[report]
exclude_lines =
    pragma: no cover
    pragma : no cover
