Source: clearwater-etcd
Section: network
Priority: optional
# This field must stay as 'Project Clearwater Maintainers', as
# clearwater-infrastructure explicitly checks for packages of this name when
# updating
Maintainer: Project Clearwater Maintainers <maintainers@projectclearwater.org>
Build-Depends: debhelper (>= 8.0.0), libffi-dev
Standards-Version: 3.9.2
Homepage: http://projectclearwater.org/

Package: clearwater-etcd
Architecture: all
Depends: python-pip, clearwater-infrastructure, clearwater-monit, clearwater-log-cleanup
Description: etcd configured for Clearwater

Package: clearwater-cluster-manager
Architecture: all
Depends: python-pip, python-virtualenv, clearwater-etcd, clearwater-monit
Description: Cluster manager for Clearwater

Package: clearwater-queue-manager
Architecture: all
Depends: python-pip, python-virtualenv, clearwater-etcd, clearwater-monit
Description: Queue manager for Clearwater

Package: clearwater-config-manager
Architecture: all
Depends: python-pip, python-virtualenv, clearwater-etcd, clearwater-queue-manager, clearwater-monit, python-requests, python-jsonschema
Description: Configuration manager for Clearwater

Package: clearwater-management
Architecture: all
Depends: clearwater-cluster-manager (= ${source:Version}), clearwater-queue-manager (= ${source:Version}), clearwater-config-manager (= ${source:Version})
Description: Meta-package for installing all Clearwater management services
